            <!-- #main-content -->
            <footer id="footer" class="site-footer" role="contentinfo">
               <div class="site-info">
                  <div class="container">
                     <div class="row">
                        <div class="col-md-12">	
                           <%= link_to "", class: "clearfix" do %>
                              <%= image_tag "logo_footer.png", class: "margin-bottom-50" %>
                           <% end %>
                           Proudly powered by <a href="http://wordpress.org/">WordPress</a> &amp; <a href="http://reduxframework.com/">Redux Framework</a>.
                           <br/><a href="http://themeforest.net/user/ZERGE?ref=zerge">Artemida</a> Theme by <a href="http://color-theme.com/">Color Theme</a>. © 2014 Copyright.				
                        </div>
                        <!-- .col-md-12 -->
                     </div>
                     <!-- .row -->
                  </div>
                  <!-- .container -->		
               </div>
               <!-- .site-info -->
               <div class="entry-totop">
                  <a href="#" class="ct-totop ct-transition" title="To top"><i class="fa fa-chevron-up"></i></a>
               </div>
               <!-- .entry-totop -->
            </footer>
            <!-- #footer -->