<div id="main-content" class="main-content">
   <div class="container">
      <div class="row">
         <section id="primary" class="col-md-8  " role="main">
            <div id="blog-entry" class="clearfix">
               <article id="post-57" class="post-57 post type-post status-publish format-standard has-post-thumbnail hentry category-beauty category-post-formats tag-beauty-2 tag-colors tag-fun tag-girls clearfix" role="article">
                  <div class="post-wrapper" style="font-family: 'Freehand', cursive;line-height:1.7em;">
 


	<h1 class="page-title" style="font-family: 'Source Sans Pro', sans-serif;font-family: 'Source Sans Pro', sans-serif;">About us</h1>
	<p>ដើម្បីចូលរួមចំណែកពង្រឹងគុណភាពរបស់សហគ្រិន ឬ អ្នកគ្រប់គ្រងអាជីវកម្ម ឲ្យកាន់តែប្រសើឡើងពីកំរិតមួយទៅកំរិតមួយទៀត ជាចាំបាច់សហគ្រិន ឬ អ្នកគ្រប់គ្រងត្រូវក្ដោបឲ្យបាននូវព័ត៌មានដែលមានផលប៉ះពាល់ដោយផ្ទាល់ ឬ ដោយប្រយោលចំពោះអាជីវកម្មរបស់ពួកគាត់។ ពត៌មានទាំងនោះ គឺទាមទារឲ្យមានតម្លាភាព និងទាន់ពេលដើម្បីជួយនិងធានាឲ្យបាននូវការសម្រេចចិត្តមួយដ៏ត្រឹមត្រូវ។
	</p>
	<p>ស.ន.វ ជាស្ថាប័នឯករាជ្យ មិនស្ថិតក្រោមនិន្នាការនយោបាយណាមួយឡើយ។ ស.ន.វ ផ្ដល់ព័ត៌មានដែលមានអត្ថប្រយោជន៏ដល់ការធ្វើពាណិជ្ជកម្ម ប្រកបដោយតម្លាភាព និង រហ័សទាន់ចិត្តជួនដល់អស់លោកអ្នកដែលជាសហគ្រិន និង អ្នកគ្រប់គ្រងអាជីវកម្មទាំងអស់នៅក្នុងប្រទេសកម្ពុជា។</p>
	<h4>ទស្សនៈវិស័យ</h4>
	<p>ចង់ឃើញបណ្ដាលសហគ្រិន ឬ អ្នកគ្រប់គ្រងអាជីវកម្មទាំងអស់នៅក្នុងប្រទេសកម្ពុជាទទួលបាននូវព័ត៌មានដែលមានលក្ខណៈតម្លាភាព និង ទាន់ហេតុការណ៏សម្រាប់ធ្វើការសេចក្ដីសម្រេចចិត្តក្នុងការងារវិនិយោគរបស់គាត់។</p>
	<h4>បេសកកម្ម</h4>
	<p>ដើម្បីសម្រេចបាននូវទស្សនៈវិស័យខាងលើ ស.ន.វ មានបេសកកម្មដូចខាងក្រោម</p>
	<ul>
	<li>ធ្វើបច្ចុប្បន្នភាពព័ត៌មានដែលកើតមាននៅក្នុងប្រទេសកម្ពុជាដែលពាក់ព័ន្ធការងារពាណិជ្ចកម្ម។</li>
	<li>ពាំនាំនូវព័ត៌មានថ្មីៗដែលកើតមានក្នុងសកលលោក។</li>
	<li>បទយកការណ៏បញ្ហារសេដ្ខកិច្ច។</li>
	<li>ការវិវាគរបស់វាលគ្មិនដែលមានជំនាញពាក់ព័ន្ធនឹងការវិនិយោគ។</li>
	</ul>


                  </div>
               </article>
            </div>
         </section>
         <%= render 'home/rightbar' %>
      </div>
   </div>
</div>




















