<div id="main-content" class="main-content">
   <div class="container">
      <div class="row">
         <section id="primary" class="col-md-8  " role="main">
            <div id="blog-entry" class="clearfix">
               <article id="post-57" class="post-57 post type-post status-publish format-standard has-post-thumbnail hentry category-beauty category-post-formats tag-beauty-2 tag-colors tag-fun tag-girls clearfix" role="article">
                  <div class="post-wrapper" style="font-family: 'Metal', cursive;line-height:1.7em;">
 
                  </div>
               </article>
            </div>
         </section>
         <%= render 'home/rightbar' %>
      </div>
   </div>
</div>