
<!-- START CONTENT -->
<div id="main-content" class="main-content">
   <div class="container">
      <div class="row">
         <section id="primary" class="col-md-8  " role="main">
            <div id="blog-entry" class="clearfix">
               <article id="post-57" class="post-57 post type-post status-publish format-standard has-post-thumbnail hentry category-beauty category-post-formats tag-beauty-2 tag-colors tag-fun tag-girls clearfix" role="article">
                  <div class="post-wrapper" style="font-family: 'Metal', cursive;line-height:1.7em;">
                     <h1 class="page-title">Service</h1>
                     <h2>១-ផ្ដល់ប្រឹក្សាផ្នែកគ្រប់គ្រងអាជីវកម្ម</h2>
                     <ul>
                        <li>ការគ្រប់គ្រងគណនេយ្យ</li>
                        <li>គ្រប់គ្រងធនធានមនុស្ស </li>
                        <li>គ្រប់គ្រងផ្នែករដ្ឋបាល និងការិយាល័យ</li>
                        <li>គ្រប់គ្រងផ្នែកទីផ្សារ និង អភិវឌ្ឍន៏ផលិតផល </li>
                        <li>គ្រប់គ្រងផ្នែកឥណទាន</li>
                     </ul>
                     <h2>២-ផ្ដល់ប្រឹក្សាផ្នែកទីផ្សារហិរញ្ញវត្ថុ</h2>
                     <ul>
                        <li>ជំនាញផ្សារភាគហ៊ុន (Securities Market)
                        <ul>
                           <li>មូលបត្រ</li>
                           <li>សញ្ណាប័ណ្ណ</li>
                        </ul>
                        </li>
                        <li>ផ្សារនិស្សន្ទ (Derivatives Market)
                              <ul>
                                 <li>Commodities</li>
                                 <li>Financial </li>
                              </ul>
                        </li>
                     </ul>
                     <h2>៣-បណ្ដុះបណ្ដាលឲ្យក្លាយជាអ្នកការងារអាជីព
                     មានគ្រប់កំរិតលើជំនាញ</h2>
                     <ul>
                        <li>គណនេយ្យ</li>
                        <li>ធនធានមនុស្ស</li>
                        <li>គ្រប់គ្រងផ្នែករដ្ឋបាល និងការិយាល័យ</li>
                        <li>ទីផ្សារ</li>
                        <li>ធនាគារ</li>
                        <li>ឯកទេសខាងទិញលក់ហាងឆេង</li>
                        <li>វិភាគតម្លៃហាងឆេងមាស</li>
                     </ul>

                  </div>
               </article>
            </div>
         </section>
         <%= render 'home/rightbar' %>
      </div>
   </div>
</div>