<div class="container">
  <div class="login-container">
            <div id="output"></div>
            <div class="avatar"></div>
            <div class="form-box">
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    <%= f.email_field :email, autofocus: true,placeholder: "Email" %>
                    <%= f.password_field :password, autocomplete: "off",placeholder: "Password"%>
                    <br>
                    <%= f.submit "Log in",class: "btn btn-info btn-block login", style: "margin-top:10px;color:#888;"  %>
                <% end %>
            </div>
        </div>
        
</div>