<div id="secondary" class="widget-area col-lg-4 " role="complementary">
   <div class="widget-area-wrapper">
      <aside id="search-2" class="widget widget_search">
          <%= form_tag root_path, method: :get, class: "searchform" do %>
               <%= text_field_tag :query, params[:query], class: "field s", placeholder: "Search ..." %>
               <button type="submit" class="btn submit searchsubmit">
                 <i class="fa fa-angle-double-right"></i>
               </button>
          <% end %>
      </aside>
      <!-- START POPULAR POSTS WIDGET -->
      <aside id="ct-popularpost-widget-2" class="widget ct-popularpost-widget">
         <header class="widget-header">
            <h1 class="widget-title">The Lasted Post</h1>
         </header>
         <ul class="popular-posts-widget popular-widget-1705209458">
            <li class="clearfix">
               <div class="widget-post-small-thumb">
                  <a href='../unlimited-mock-up-kit/index.html' title='Permalink to Unlimited Mock Up Kit'>
                  <img width="73" height="73" src="../wp-content/uploads/2014/12/Unlimited-Mock-Up-Kit_2-73x73.jpg" class="radius-3px ct-transition wp-post-image" alt="Unlimited-Mock-Up-Kit_2" title="Unlimited Mock Up Kit" />                 </a>
               </div>
               <!-- widget-post-small-thumb -->
               <h2 class="entry-title"><a href="../unlimited-mock-up-kit/index.html" rel="bookmark">Unlimited Mock Up Kit</a></h2>
               <span class="entry-date sm-italic-gray">
               December 14, 2014            </span><!-- .entry-date -->
               <div class="entry-content">
                  VideoHive is the #1 marketplace for premium after effects templates and after effects proj ...            
               </div>
               <!-- .entry-content -->
            </li>
            <li class="clearfix">
               <div class="widget-post-small-thumb">
                  <a href='../elena-posing-well/index.html' title='Permalink to Elena posing well'>
                  <img width="73" height="73" src="../wp-content/uploads/2014/12/15799878669_6829dd8f3d_k_2-73x73.jpg" class="radius-3px ct-transition wp-post-image" alt="Elena posing well" title="Elena posing well" />                  </a>
               </div>
               <!-- widget-post-small-thumb -->
               <h2 class="entry-title"><a href="../elena-posing-well/index.html" rel="bookmark">Elena posing well</a></h2>
               <span class="entry-date sm-italic-gray">
               December 14, 2014            </span><!-- .entry-date -->
               <div class="entry-content">
                  Another very pretty picture of Siberian tigress Elena! Peer out window, chatter at birds,  ...            
               </div>
               <!-- .entry-content -->
            </li>
            <li class="clearfix">
               <div class="widget-post-small-thumb">
                  <a href='index.html' title='Permalink to Adrian Fittolani at his standing desk'>
                  <img width="73" height="73" src="../wp-content/uploads/2014/12/15506874176_c453bd57ea_k-73x73.jpg" class="radius-3px ct-transition wp-post-image" alt="Adrian Fittolani at his standing desk" title="Adrian Fittolani at his standing desk" />                  </a>
               </div>
               <!-- widget-post-small-thumb -->
               <h2 class="entry-title"><a href="index.html" rel="bookmark">Adrian Fittolani at his standing desk</a></h2>
               <span class="entry-date sm-italic-gray">
               December 14, 2014            </span><!-- .entry-date -->
               <div class="entry-content">
                  Adrian Fittolani at his standing desk. Pellentesque sed massa eleifend magna luctus pellen ...            
               </div>
               <!-- .entry-content -->
            </li>
         </ul>
      </aside>
      <!-- END POPULAR POSTS WIDGET -->

   </div>
   <!-- .widget-area-wrapper -->
</div>