<div id="main-content" class="main-content" >
   <div class="container">
      <div class="row">

         <section id="primary" class="col-md-10 col-lg-offset-1" role="main" style="background:#fff;">
            <div id="blog-entry" class="clearfix" style="padding:30px;">
            <h3 style="color:#888;margin-top:0px;padding-top:0px;">New Post</h3>
				<%= render 'form' %>
            </div>
            <!-- #blog-entry -->
            <div class="ct-divider">
               <div class="divider-gap">
                  <div class="divider-border"></div>
               </div>
               <!-- .divider-gap -->
            </div>
         </section>
         <!-- .col-md-12 -->
            <%#= render 'rightbar' %>
         <!-- .col-md-4 -->
      </div>
      <!-- .row -->
   </div>
<!-- .container -->
</div>